*
{
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height:1.5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.747em;
}
h2 {
  font-size: 0.874em;
}
h3 {
  font-size:1.229em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.center {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -400px;
  width: 800px;
}

example-live-table, example-streaming-table {
  position: relative;
  display: table;
}

table, tr, th, td, td * {
  width: 100%;
  margin: 0;
  padding: 0;
}

tr {
  display: block;
}

thead tr {
  color: #72D6D6;
  border-bottom: 4px solid #72D6D6;
}

tbody tr:nth-child(odd) {
  color: #72D6D6;
}

tbody tr:nth-child(even) {
  color: #FFFFFF;
  background-color: #72D6D6;
}

td {
  display: block;
}

live-content > * {
  display: inline-block;
  padding: 0.2em 0.4em;
}

block {
  display: block;
  width: 100%;
  position: relative;
}

.loading .loader {
  max-height: 100px !important;
  opacity: 1 !important;

  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
}

table:after {
  content: ' ';
  background-color: rgba(255,255,255,0.7);
  display: block;
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  opacity: 0;

  transition: opacity .4s ease-in-out, height .4s step-end;
  -moz-transition: opacity .4s ease-in-out, height .4s step-end;
  -webkit-transition: opacity .4s ease-in-out, height .4s step-end;
}

.loading table:after {
  height: 100%;
  opacity: 1 !important;

  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #00A2A2;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #00A2A2;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #00A2A2;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #00A2A2;
  }
}

.loader {
  top: 50%;
  margin-top: -3.75em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1000;

  max-height: 0;
  opacity: 0;

  transition: opacity .4s ease-in-out, max-height .4s step-end;
  -moz-transition: opacity .4s ease-in-out, max-height .4s step-end;
  -webkit-transition: opacity .4s ease-in-out, max-height .4s step-end;
}

.col-1-2 {
  width: 50%;
  float: left;
}
